body {
    background-color: lightskyblue;
}

.imenu li{
    padding: 0em;
}

.header{
    text-align: center;
    background-color: lightskyblue;
    padding: 1em;
    margin: 1em;
}

.main{
    display: flex;
    padding: 1em;
    margin: 1em;
    overflow: auto;
}


.pizz-1{
    display: block;
    border-style: solid;
    background-color: chartreuse;
    padding: 1em;
    margin: 1em;
}

.pizza-2{
    border-style: solid;
    background-color: chocolate;
    padding: 1em;
    margin: 1em;
}

.pizza-3{
    border-style: solid;
    background-color:cornflowerblue;
    padding: 1em;
    margin: 1em;
}

.pizpic{
    float: none;

}

.footer{
    background-color: lightskyblue;
}